<div class="container">

  <div class="row">
    <img src="../../../assets/home/1300x300.png" alt="">
  </div>

  <div class="row">

    <div class="col-4">
      <img src="../../../assets/home/200x300.png" alt="">
    </div>

    <div class="col-4">
      <img src="../../../assets/home/200x300.png" alt="">
    </div>

    <div class="col-4">
      <img src="../../../assets/home/200x300.png" alt="">
    </div>

  </div>

  <div class="row">
    <img src="../../../assets/home/1300x300.png" alt="">
  </div>

  <div class="row">
    <img src="../../../assets/home/1300x300.png" alt="">
  </div>

</div>