<div class="container">

  <div class="row">
    <div class="content">
      <div class="grid">
        <figure class="effect-julia">
          <img src="../../../assets/anuncio/21.jpg" alt="img21" />
          <figcaption>
            <h2>Passionate
              <span>Frida</span>
            </h2>
            <div>
              <p>Julia dances in the deep dark</p>
              <p>She loves the smell of the ocean</p>
              <p>And dives into the morning light</p>
            </div>
          </figcaption>
        </figure>
        <figure class="effect-julia">
          <img src="../../../assets/anuncio/22.jpg" alt="img22" />
          <figcaption>
            <h2>Passionate
              <span>Frida</span>
            </h2>
            <div>
              <p>Julia dances in the deep dark</p>
              <p>She loves the smell of the ocean</p>
              <p>And dives into the morning light</p>
            </div>
          </figcaption>
        </figure>
        <div class="grid">
					<figure class="effect-apollo">
						<img src="../../../assets/anuncio/18.jpg" alt="img18"/>
						<figcaption>
							<h2>Strong <span>Apollo</span></h2>
							<p>Apollo's last game of pool was so strange.</p>
						</figcaption>			
					</figure>
					<figure class="effect-apollo">
						<img src="../../../assets/anuncio/32.jpg" alt="img22"/>
						<figcaption>
							<h2>Strong <span>Apollo</span></h2>
							<p>Apollo's last game of pool was so strange.</p>
						</figcaption>			
					</figure>
				</div>
      </div>
      </div>

  <div class="row">

    <div class="col-4">
      <img src="" alt="">
    </div>

    <div class="col-4">
      <img src="" alt="">
    </div>

    <div class="col-4">
      <img src="" alt="">
    </div>

  </div>

  <div class="row">
    <img src="" alt="">
  </div>

  <div class="row">
    <img src="" alt="">
  </div>

</div>