<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Servicios</h2>
    </div>
    <div class="card-body">
      <div class="row">
          <p>
            Disfruta un delicioso momento en los cafés y restaurantes con terrazas y fuentes, tiendas de regalos, joyerías, así como el Energy Fitness, un concepto vanguardista en el mundo de clubes deportivos con instalaciones de primer nivel.
          </p>
        <div class="col-sm-12 col-md-4">
          <h3>Seguridad <img src="../../../assets/servicios/seguridad.png" style="width: 15%;" alt=""> </h3>
          
          <p>
            Contamos con un sistema de seguridad controlado por un circuito cerrado de video y personal altamente calificado las 24 horas del día, durante los 365 días del año.
          </p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3>Baños <img src="../../../assets/servicios/baños.png" style="width: 15%;" alt=""> </h3>
          <p>
            Contamos con instalaciones sanitarias de primer nivel que cumplen con nuestro compromiso de brindar limpieza, comodidad y accesibilidad.
          </p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3>Espacios Recreativos <img src="../../../assets/servicios/plaza.png" style="width: 15%;" alt=""> </h3>
          <p>
            Contamos con espacios aptos para la convivencia con la familia y los amigos.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3>Consultorios Medicos <img src="../../../assets/servicios/medico.png" style="width: 15%;" alt=""></h3>
          <p>
            Contamos con los consultorios medicos mas modernos para colocar su consultorio medico o picologíco, y a su vez contamos con los mejores medicos en su especializacion para la atencion del publico en general.
          </p>
        </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
