<div class="container">

  <div class="row">
    <img src="../../../assets/home/uno.png" alt="">
  </div>

  <div class="row">

    <div class="col-sm-12 col-md-4">
      <img src="../../../assets/home/cuatro.png" alt="">
    </div>

    <div class="col-sm-12 col-md-4">
      <img src="../../../assets/home/cinco.png" alt="">
    </div>

    <div class="col-sm-12 col-md-4">
      <img src="../../../assets/home/seis.jpg" alt="">
    </div>

  </div>
  
<div class="row">
  <div class="col-sm-12 col-md-4">
    <img src="../../../assets/home/dos.png" alt="">
  </div>
</div>

<div class="row">
  <img src="../../../assets/home/tres.jpeg" alt="">
</div>

</div>