<div class="container">

  <section class="form_wrap">

    <section class="contact_info">
      <section class="info_title">
        <img src="../../../assets/contacto/frida.png" alt="">
        <h1>Información <br> de contácto</h1>
      </section>
      <section class="info_items">
        <p><strong>Correo: </strong> plazafrida@mail.com</p>
        <p><strong>Telefono: </strong> 55 893 00284</p>
      </section>
    </section>

    
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      
        
          <input placeholder="Nombre" type="text" formControlName="name" required>

          <input placeholder="Correo Electrónico" type="email" formControlName="email" required>

          <textarea formControlName="msn" id="msn" placeholder="Mensaje" cols="30" rows="10"></textarea>


          <button class="btn btn-outline-primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
      
      </form>
  

  </section>
</div>