<div class="container">
  <section class="col-xs-12 form_wrap">
    <section class="contact_info d-none d-md-block">
      <section class="info_title">
        <img src="../../../assets/contacto/frida.png">
        <h2>Información<br>de contácto</h2>
      </section>
      <section class="info_items">
        <p><strong>Correo: </strong> plazafrida@mail.com</p>
        <p><strong>Telefono: </strong> 55 893 00284</p>
      </section>
    </section>
    
      <div class="container mt-5">
        <section class="d-block d-sm-block d-md-none title"><h2>Contacto</h2></section>
        <form (ngSubmit)="contactForm(form.value)" #form="ngForm" >
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" ngModel>
          </div>

          <div class="form-group">
            <label>Asunto</label>
            <input type="text" class="form-control" name="asunto" ngModel>
          </div>

          <div class="form-group">
            <label>Correo</label>
            <input type="text" class="form-control" name="email" ngModel>
          </div>

          <div class="form-group">
            <label>Mensaje</label>
            <textarea class="form-control" cols="30" rows="10" name="mensaje" ngModel></textarea>
          </div>

          <button type="submit" class="btn btn-outline-primary">Enviar</button>
        </form>
      </div>
    </section>
  </div>