<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      
      <form (ngSubmit)="onSubmit(contactForm);" #contactForm="ngForm">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" #nombre [(ngModel)]="contactForm.name" placeholder="Nombre" required>
          </div>
          <div class="col">
            <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="contactForm.email" placeholder="Correo Eléctronico" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="tel" class="form-control" #tel [(ngModel)]="contactForm.phone" placeholder="Telefono de Contacto">
          </div>
          <div class="col">
            <input type="text" class="form-control" #asunto maxlength="60" [(ngModel)]="contactForm.subject" placeholder="Asunto" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <textarea class="form-control" #msn [(ngModel)]="contactForm.msn" rows="15" placeholder="Mensaje"></textarea>
              <button [disabled]="!contactForm.form.valid" type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>
